<header>
    <nav>
        <a href="/">Libreria</a>
        <ul>
            <li><a href="/authors">Autores</a></li>
            <li><a href="/authors/new">Nuevo autor</a></li>
            <li><a href="/libros/">Libros</a></li>
            <li><a href="/libros/new">Nuevo libro</a></li>
        </ul>
    </nav>
</header>