<h2>Nuevo autor</h2>

<form action="/ejercicio/new" method="POST">

    <%- include('_formFields') %>
    
    <a href="/ejercicios">Cancelar</a>
    <button type="submit">Crear pregunta</button>

</form>