<label for="name">Nombre</label>
                    <!--Reemplaza los datos del autor que se pasa por parámetro (< % = cosa)-->
<input type="text" id="name" name="nombre" value="<%= author.nombre %>">
<br>
<label for="fecnac">Fecha de nacimiento</label>
<input type="date" name="fecnac" id="fecnac" value="<%= author.fecnac %>">